body{
background-color: #f3ebe8;
font-family: Verdana;
}

h2{
font-style: italic;
color: orange;
}

h3{
font-size: x-large;
text-decoration: underline;
}

p{
font-size: larger;
border: 3px black solid;
text-align: justify;
box-shadow: 11px 11px 11px black;
}
  
a:hover{
color: navy;
}

figure {
text-align:center;
}