body{
background-color: #f3ebe8;
font-family: Verdana;
}

h2{
font-style: italic;
color: orange;
}

h3{
font-size: x-large;
text-decoration: underline;
}

p{
font-size: larger;
}
.imageflottante
{
    float: left;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

a:hover
{
   color: maroon;
}

figure {
  text-align:center;
}