body{
background-color: #f3ebe8;
font-family: Verdana;
}

h2{
font-style: italic;
color: orange;
}

h3{
font-size: x-large;
text-decoration: underline;
}

p{
font-size: larger;
text-align: center;
}

  
a:hover{
color: navy;
}

figure {
text-align:center;
}